body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  

header .hajlajt{
    color:red;

}

header{
    padding-top:30px;
    max-height: 100px;
    background-color: rgb(6, 10, 202);
    border-bottom: red 2px solid;
    border-top: red 2px solid;
    overflow: hidden;
    color: white;
    
}



header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }

header nav{
    margin-top: -10px;
    padding-bottom: -10px;
}

header ul{
    text-decoration: none;
    float: right;
    margin: 0;
    text-transform: uppercase;

}





header li{
    display: inline;
    padding: 0 0px 0 0px;
    float: left;
    margin-right: 50px;
}

header a{
    color: white;
    font-size: 1rem;
    text-decoration: none;

}

header a:hover{
    color:red;
    transition: 1s;
}

#showcase{
    background-color: rgb(8, 43, 54);
    min-height: 750px;
}

section h1{
    text-align: center;
    padding-top: 50px;
    color: white;
}
section p{
    color: white;
    text-align: center;
}
section h4{
    color: red;
    font-size: 3rem;
    text-align: center;
}

section ul{
    color: white;
    text-align: center;
    text-decoration: none;
}

section li{
    text-decoration: none;
}


